@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MVCApplication.Models.MovieHomeViewModel

<div class="home-bg-overlay">
</div>
<div class="movie-home-conatiner">
    <div class="text-center home_heading">
        <h1 class="display-4">Welcome to MovieSpace</h1>
    </div>
    <div class="movie-content">
        <p class="heading">Sci-Fi</p>
        <div class="movie-item-container">
            @foreach (var movie in Model.SciFiMovies)
            {
                <div class="movie-item">
                    <div class="movie-img">
                        <img src="@movie.MovieImageUrl" />
                    </div>
                    <div class="movie-card-detail">
                        <div class="rate_icon_div">
                            <div class="rating_div">
                                <img class="rating_dwnld_img" src="~/assets/star-solid.svg" />
                                <p class="rating_value">@movie.Rating</p>
                            </div>
                            <a href="@movie.URL" download>
                                <img class="rating_dwnld_img" src="~/assets/download-solid.svg" alt="Download">
                            </a>
                        </div>
                        <p>@movie.Title</p>
                        @using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => movie.MovieID)
                            @Html.HiddenFor(model => movie.Title)
                            @Html.HiddenFor(model => movie.Genre)
                            @Html.HiddenFor(model => movie.Rating)
                            @Html.HiddenFor(model => movie.MovieImageUrl)
                            @Html.HiddenFor(model => movie.URL)
                            @Html.HiddenFor(model => movie.UploadedUserId)
                            @Html.HiddenFor(model => movie.URL)
                            @Html.HiddenFor(model => movie.UploadedUserId)
                            // This includes all the model properties as hidden fields
                            <button class="movie_edit_btn" type="submit">Edit</button>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="movie-content">
        <p class="heading">Action</p>
        <div class="movie-item-container">
            @foreach (var movie in Model.ActionMovies)
            {
                <div class="movie-item">
                    <div class="movie-img">
                        <img src="@movie.MovieImageUrl" />
                    </div>
                    <div class="movie-card-detail">
                        <div class="rate_icon_div">
                            <div class="rating_div">
                                <img class="rating_dwnld_img" src="~/assets/star-solid.svg" />
                                <p class="rating_value">@movie.Rating</p>
                            </div>
                            <a href="@movie.URL" download>
                                <img class="rating_dwnld_img" src="~/assets/download-solid.svg" alt="Download">
                            </a>
                        </div>
                        <p>@movie.Title</p>
                        @using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => movie.MovieID)
                            @Html.HiddenFor(model => movie.Title)
                            @Html.HiddenFor(model => movie.Genre)
                            @Html.HiddenFor(model => movie.Rating)
                            @Html.HiddenFor(model => movie.MovieImageUrl)
                            @Html.HiddenFor(model => movie.URL)
                            @Html.HiddenFor(model => movie.UploadedUserId)
                            @Html.HiddenFor(model => movie.URL)
                            @Html.HiddenFor(model => movie.UploadedUserId)
                            // This includes all the model properties as hidden fields
                            <button class="movie_edit_btn" type="submit">Edit</button>
                        }

                    </div>
                </div>
            }
        </div>
    </div>
    <div class="movie-content">
        <p class="heading">Horror</p>
        <div class="movie-item-container">
            @foreach (var movie in Model.HorrorMovies)
            {
                <div class="movie-item">
                    <div class="movie-img">
                        <img src="@movie.MovieImageUrl" />
                    </div>
                    <div class="movie-card-detail">
                        <div class="rate_icon_div">
                            <div class="rating_div">
                                <img class="rating_dwnld_img" src="~/assets/star-solid.svg" />
                                <p class="rating_value">@movie.Rating</p>
                            </div>
                            <a href="@movie.URL" download>
                                <img class="rating_dwnld_img" src="~/assets/download-solid.svg" alt="Download">
                            </a>
                        </div>
                        <p>@movie.Title</p>
                        @using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => movie.MovieID)
                            @Html.HiddenFor(model => movie.Title)
                            @Html.HiddenFor(model => movie.Genre)
                            @Html.HiddenFor(model => movie.Rating)
                            @Html.HiddenFor(model => movie.MovieImageUrl)
                            @Html.HiddenFor(model => movie.URL)
                            @Html.HiddenFor(model => movie.UploadedUserId)
                            @Html.HiddenFor(model => movie.URL)
                            @Html.HiddenFor(model => movie.UploadedUserId)
                            // This includes all the model properties as hidden fields
                            <button class="movie_edit_btn" type="submit">Edit</button>
                        }

                    </div>
                </div>
            }
        </div>
    </div>
    <div class="movie-content">
        <p class="heading">Comedy</p>
        <div class="movie-item-container">
            @foreach (var movie in Model.ComedyMovies)
            {
                <div class="movie-item">
                    <div class="movie-img">
                        <img  src="@movie.MovieImageUrl" />
                    </div>
                    <div class="movie-card-detail">
                        <div class="rate_icon_div">
                            <div class="rating_div">
                                <img class="rating_dwnld_img" src="~/assets/star-solid.svg" />
                                <p class="rating_value">@movie.Rating</p>
                            </div>
                            <a href="@movie.URL" download>
                                <img class="rating_dwnld_img" src="~/assets/download-solid.svg" alt="Download">
                            </a>
                        </div>
                        <p>@movie.Title</p>
                        @using (Html.BeginForm("EditMovie", "Movie", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => movie.MovieID)
                            @Html.HiddenFor(model => movie.Title)
                            @Html.HiddenFor(model => movie.Genre)
                            @Html.HiddenFor(model => movie.Rating)
                            @Html.HiddenFor(model => movie.MovieImageUrl)
                            @Html.HiddenFor(model => movie.URL)
                            @Html.HiddenFor(model => movie.UploadedUserId)
                            @Html.HiddenFor(model => movie.URL)
                            @Html.HiddenFor(model => movie.UploadedUserId)
                            // This includes all the model properties as hidden fields
                            <button class="movie_edit_btn" type="submit">Edit</button>
                        }

                    </div>
                </div>
            }
        </div>
    </div>
    
</div>
<a class="add-new text-dark" href="/addMovie">Add New Movie</a>
