@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MVCApplication.Models.Movie

<div class="edit_movie_container">
    <div class="edit_img">
        <img src="@Model.MovieImageUrl"/>
    </div>
    <div class="edit_detail">
        <form action="update" method="post" >
            <div class="form-group">
                <input name="Title" type="text" class="form-control" value="@Model.Title" placeholder="Enter Movie Name">
            </div>
            <div class="form-group">
                <input name="directorName" type="text" class="form-control" placeholder="Enter Director names">
            </div>
            <div class="form-group">
                <select class="form-control" name="Genre">
                    <option>Select a Movie Genre</option>
                    <option>Sci-Fi</option>
                    <option>Action</option>
                    <option>Comedy</option>
                    <option>Horror</option>
                </select>
            </div>
            <div class="form-group">
                <input name="releaseDate" type="date" class="form-control"  placeholder="Enter Director names">
            </div>
            <div class="form-group">
                <input name="Rating" type="number" class="form-control" value="@Model.Rating" placeholder="Enter Rating out of 10" min="0" max="10">
            </div>
            <div class="form-group">
                <input name="comment" type="text" class="form-control" placeholder="Enter Comment">
            </div>
           
            <button type="submit" class="btn btn-primary">Update</button>
        </form>

        @if ((string)ViewData["UserIdCookie"] == (string)ViewData["loginuser"])
        {
               
            @using (Html.BeginForm("DeleteMovie", "Movie", FormMethod.Post))
            {
                @Html.HiddenFor(model => Model.MovieID)
                @Html.HiddenFor(model => Model.MovieImageUrl)
                @Html.HiddenFor(model => Model.UploadedUserId)

                // This includes all the model properties as hidden fields
                   <button class="movie_edit_btn"  type="submit">Delete</button>
                       

            }
            
        }
        
    </div>
</div>